/* GENERAL DIVS */
.main {
  width: 100%;
  background-color: #161616;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

/* BOARD RELATED DIVS */

.board {
  background-color: #F5F5F5;
}

.chess-row {
  display: flex;
  flex-direction: row;
}

.lightSquare {
  background-color: #f0d9b5;
}

.darkSquare {
  background-color: #b58863;
}

.highlightedSquare {
  background-color: #f7ec5b;
}

.chess-piece {
  cursor: grab;
}

/* TOOLBAR RELATED DIVS */
.btn {
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
