html {
  background: #312e2b
}

style {
  padding: 0;
  margin: 0;
}

canvas {
  background: #eee;
  display: block;
  margin-left: 6em;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: auto;
  outline: #C19A6B 5px solid;
  width: 750px;
  height: 750px;
}

.InfoBox {
  background: #ffffff;
  border: 5px solid #f1f1f1;
  width: 600px;
  height: 750px;
  position: absolute;
  left: 57em;
  top: 1.6em;
}
