html {
  background: #A8865D
}

style {
  padding: 0;
  margin: 0;
}

canvas {
  background: #eee;
  display: block;
  margin-left: 6em;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: auto;
  outline: #C19A6B 5px solid;
  width: 750px;
  height: 750px;
}
